// variables.scss
$white-color: #fff;
$yellow-color: #fdcb6e;
$card-stat-title-color: #b3b1b2;
$card-stat-sub-color: #5e5e5e;
$nav-background: #2d3436;
$border-radius: 10px;
$card-visual-height: 68%;
$card-stats-height: calc(100% - #{$card-visual-height} + 2px);
$gradient: #f96b4c, #f23182;

// the :export directive is the magic sauce for webpack
:export {
  whitecolor: $white-color;
  yellowcolor: $yellow-color;
  cardstattitlecolor: $card-stat-title-color;
  cardstatsubcolor: $card-stat-sub-color;
  navbackground: $nav-background;
  borderradius: $border-radius;
  cardvisualheight: $card-visual-height;
  cardstatsheight: $card-stats-height;
  gradient: $gradient;
}
